python-socketio
python-engineio
uvicorn[standard]
fastapi
httpx
google-auth
python-jose[cryptography]
python-multipart
gunicorn
nanodlna
beautifulsoup4
python-dotenv
requests
websockets
pydantic>=2.0
pydantic-settings
supabase
